/* Base CSS */
*, *::before, *::after {
    box-sizing: border-box;
}
html, body {
    background-color: rgb(11, 11, 15);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

/* Hero Banner */
h1 {
    justify-content: center;
    text-align: center;
    color: #CBA35A;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 0px;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 3rem;
}
h2 {
    justify-content: center;
    text-align: center;
    color: #CBA35A;
    padding-top: 0px;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 1.25rem;
}
#hero-tag {
    margin-top: -30px;
}

/* Links */
.linkDiv {
    border-style: none;
    justify-content: center;
    text-align: center;
    color: #CCCCD2;
    margin-top: 0px;
    padding: 0px;
}
#links {
    border-style: none;
    justify-content: center;
    text-align: center;
    color: #CCCCD2;
    margin-top: 0%;
    padding: 5px;
}

/* Carousel */
.highlightCarousel {
    position: relative;
    justify-self: center;
    border: 3px solid rgb(0, 0, 0, .65);
    box-shadow: inset 12px 12px 5px 15px rgba(11, 11, 15, 0.95),
                      inset -12px -12px 5px 15px rgba(11, 11, 15, 0.45) ;
    color: #CCCCD2;
    margin-top: 50px;
    padding: 25px;
    height: 60vh;
    width: 85vw;
    background-color: rgb(21, 21, 27);
}
.highlightCarousel [data-slides]{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.highlightCarousel > ul {
    margin: 0;
    padding: 0;
}
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}
.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    object-fit: contain;
}
.slide[data-active]{
    opacity: 1;
    transition-delay: 0ms;
}
.carousel-button {
    position: absolute;
    z-index: 2;
    border: none;
    background: none;
    font-size: 3rem;
    transform: translateY(-50%);
    color: rgba(204, 204, 210, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    margin: 10px;
    padding: 0 .5rem;
    background-color: rgb(11, 11, 15, .1);
    top: 50%
}
.carousel-button:hover, 
.carousel-button:focus {
    color: rgba(204, 204, 210, 1);
    background-color: rgba(11, 11, 15, 1);
}
.carousel-button:focus {
    outline: 1px solid black;
}
.carousel-button.prev {
    left: 1rem;
}
.carousel-button.next {
    right: 1rem;
}

/* About Me */
.sectionHeader {
    text-decoration: underline;
    font-weight: bolder;
    line-height: 1.6;
}
.aboutMe {
    position: relative;
    justify-self: center;
    border: 3px solid rgb(0, 0, 0, .65);
    box-shadow: inset 12px 12px 5px 15px rgba(11, 11, 15, 0.45),
                      inset -12px -12px 5px 15px rgba(11, 11, 15, 0.95) ;
    color: #CCCCD2;
    margin-top: 50px;
    padding: 25px;
    height: auto;
    width: 85%;
    background-color: rgb(21, 21, 27);
    text-align: center;
    font-family: 'Cinzel', serif;
}

/* Skills */
.skills {
    position: relative;
    justify-self: center;
    border: 3px solid rgb(0, 0, 0, .65);
    box-shadow: inset 12px 12px 5px 15px rgba(11, 11, 15, 0.95),
                      inset -12px -12px 5px 15px rgba(11, 11, 15, 0.45) ;
    color: #CCCCD2;
    margin-top: 50px;
    padding: 25px;
    height: auto;
    width: 85%;
    background-color: rgb(21, 21, 27);
    text-align: center;
    font-family: 'Cinzel', serif;
}
.icon {
    height: 20px;
    width: 20px;
}